/* fonts */
@font-face {
  font-family: Noto;
  src: url("/assets/fonts/NotoSansArabicUI-Regular.woff") format("woff"),
    url("/assets/fonts/NotoSansArabicUI-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Noto;
  font-weight: 700;
  src: url("/assets/fonts/NotoSansArabicUI-Bold.woff") format("woff"),
    url("/assets/fonts/NotoSansArabicUI-Bold.ttf") format("truetype");
}
@font-face {
  font-family: NotoKufi;
  src: url("/assets/fonts/NotoKufiArabic-Regular.woff") format("woff"),
    url("/assets/fonts/NotoKufiArabic-Regular.ttf") format("truetype");
}
@font-face {
  font-family: NotoKufi;
  font-weight: 700;
  src: url("/assets/fonts/NotoKufiArabic-Bold.woff") format("woff"),
    url("/assets/fonts/NotoKufiArabic-Bold.ttf") format("truetype");
}

/* base styles */
body {
  font-size: 16px;
  font-family: Noto;
  line-height: 1.4;

  color: #14213d;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.4em;
}

a {
  text-decoration: none;
  color: #473335;
}

/* navbar area */
.main-nav {
  font-family: NotoKufi;
  background-color: #000000;
  font-size: 1em;
  padding: 1em 0;
}

@media (min-width: 30em) {
  .main-nav {
    font-size: 1.2em;
  }
}
.main-nav a {
  color: #ffffff;
}
.main-nav ul {
  display: flex;
  align-items: center;
}
.main-nav ul li {
  padding: 0 1.2em;
  border-left: 1px solid #e5e5e5;
}

/* hero area */
#hero {
  background-color: #14213d;
  background-image: url("https://www.seatemperatu.re/site/images/illustration/zanzibar_247.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 120px;
  text-align: center;
  min-height: 400px;
  font-family: NotoKufi;
}

#hero .title {
  background-color: #000;
  color: #ffffff;
  margin-bottom: 20px;
  padding: 40px;
  opacity: 0.5;
}

#hero .title h1 {
  font-size: 2em;
  line-height: 80px;
}

#hero .subtitle {
  margin: 40px 0px;
  direction: ltr;
  color: #e5e5e5;
}

button,
.button {
  font-family: NotoKufi;
  background-color: #fca311;
  color: #14213d;
  border: 0;
  padding: 0.25em 1em;
  font-size: 1.4em;
  border-radius: 0.25em;
  text-align: center;
}

/* Featured Trips area */
.title {
  font-size: 1.4em;
  margin: 1em 0;
  font-family: NotoKufi;
}
.featured {
  padding: 0.6em;
}
.max-lg {
  max-width: 1200px;
  margin: 0 auto;
}
.featured h1 {
  margin: 2.2em 0;
  font-family: NotoKufi;
}
.trips {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trips article {
  max-width: 100%;
  margin: 0.25em;
  border: 1px solid #e5e5e5;
  border-radius: 0.6em;
  padding-bottom: 0.8em;
}

@media (min-width: 30em) {
  .trips article {
    max-width: 30%;
  }
}
.trips .summary a {
  float: left;
  font-size: 1.1em;
}

.trips .summary h2 {
  font-family: NotoKufi;
  font-size: 1.4rem;
  margin: 0.6em 0;
}
.trips .summary {
  margin: 0.5em;
}

.trips img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

.trips .button {
  font-size: 0.9em;
  padding: 0.5em;
  width: 80%;
}

/* footer */

footer {
  padding: 2em 0.6em;
  background-color: #14213d;
}

footer h2 {
  color: #fff;
  text-align: center;
}

footer form > div {
  margin: 0.5em;
}

footer label {
  color: #fff;
  display: block;
}
footer input,
footer textarea {
  padding: 0.5em;
  width: 80%;
}

@media (min-width: 30em) {
  footer input,
  footer textarea {
    width: 30%;
  }
  footer textarea {
    width: 50%;
  }
  footer input[type="submit"] {
    width: 20%;
    padding: 0px;
  }
}
